/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,dir,menu,nav,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}

tr, th, td {
	margin:0;
	padding:0;
	outline:0;
	font-size:100%;
	border-bottom:1px solid #eee;
	vertical-align:baseline;
	background:transparent
}

tr {border-bottom:1px solid #eee;}
td {vertical-align: middle;}

body{
	line-height:1
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block
}

nav ul{
	list-style:none
}

ol{
	list-style:decimal
}

ul{
	list-style:disc
}

ul ul{
	list-style:circle
}

blockquote,q{
	quotes:none
}

blockquote:before,blockquote:after,q:before,q:after{
	content:none
}

a{
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}

ins{
	text-decoration:underline
}

mark{
	background:none
}

del{
	text-decoration:line-through
}

abbr[title],dfn[title]{
	border-bottom:1px dotted;
	cursor:help
}

table{
	border-collapse:collapse;
	border-spacing:0
}

hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0
}

input,select,a img{
	vertical-align:middle
}


/* Typography */
*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	max-width:100%
}

html{
	height:100%;
	font-size:100%;
	font-family:Verdana, Helvetica, sans-serif;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%
}

body{
	margin:0;
	min-height:100%;
	overflow:hidden
}

body,pre,label,input,button,select,textarea{
	font:normal 80%/1.10 Verdana, Helvetica, sans-serif;
	vertical-align:top
}

a{
	display:inline-block
}

p,ul,ol{
	margin:1.25em 0
}

h1{
	font-size:2em;
	line-height:1.25em;
	margin:0.625em 0
}

h2{
	font-size:1.5em;
	line-height:1.6667em;
	margin:0.8333em 0
}

h3{
	font-size:1.25em;
	line-height:1em;
	margin:1em 0
}

h4{
	font-size:1em;
	line-height:1.25em;
	margin:1.25em 0
}

h5{
	font-size:0.8125em;
	line-height:1.5385em;
	margin:1.5385em 0
}

h6{
	font-size:0.6875em;
	line-height:1.8182em;
	margin:1.8182em 0
}

blockquote{
	margin:0 3em
}

caption{
	font-weight:bold
}

ul,ol,dir,menu,dd{
	margin-left:3em
}

ul,dir,menu{
	list-style:disc
}

ol{
	list-style:decimal
}

sub,sup{
	font-size:75%;
	line-height:0;
	vertical-align:baseline;
	position:relative
}

sub{
	top:0.5em
}

sup{
	top:-0.5em
}

label{
	display:inline-block
}

input[type="text"],input[type="password"],input[type="file"]{
	padding:1px;
	margin:-4px 0 0 0
}

select,textarea{
	padding:0;
	margin:-4px 0 0 0
}

fieldset{
	padding:0.625em;
	border:1px solid #ccc;
	margin-bottom:0.625em
}

input[type="radio"],input[type="checkbox"]{
	height:1em;
	vertical-align:top;
	margin:0.125em
}

div,table{
	overflow:hidden
}


/* Fluid Fonts */
@media screen and (max-width:960px){
	body{
		font-size:0.81255em
	}

}
