.status-counts-all {background:#444;color:#ddd;}
.status-counts {color: #000;}
.status-counts-all.btn:hover, .status-counts.btn:hover {background:#000;color:#fff;}
.status-1 {background:#fbb;}
.status-5 {background:#eee;}
.status-2 {background:#ffb;}
.status-3 {background:#bfb;}
.status-6 {background:#bbf;}
.status-7 {background:#fde;}
.status-8 {background:#daa;}
.status-9 {background:#fbe;}
.status-10 {background:#fce;}
.artwork {width:100%;}
.artwork.thumbnail {width:20%;}
.new-cap-wrapper, .new-goggle-wrapper, .new-accessory-wrapper {display:none;}
.new-row {margin-top:20px;padding-top:20px;border-top:1px dotted #bbb;}
.important-text {font-weight:bold;background:#000;color:#fff;border-radius:5px;padding:3px 5px;}
.sqlquery {background:#eee;padding:20px;margin-bottom:20px;}