body {
	font-family:Ubuntu,sans-serif;
	font-size:0.95em;
	background:#eee;
}

h1, h2, h3, h4 {font-weight: normal;}

h1 {
	color:#444;
}

h2 {
	color:#444;
}

h3 {
	color:#444;
}

h4 {
	color:#444;
}

h5 {
	color:#722;
}

h6 {
	color:#500;
}

small {
	font-size:0.75em
}

a {
	text-decoration:none;
	color:#558;
}

a:hover {
	color:#f00;
}

img {
	max-width:100%
}

table {
	font-size:.8em;
	color:#666 !important;
	background:#eee;
	width:100%;
	border-radius:.5em;
}

table code {
	background:transparent;
	padding:0
}

tr {
	border-bottom:1px solid #fff;
	background:#fff;
}

tr:last-child {
	border-bottom:none;
}

th,td {
	font-size:1em;
	line-height:1.25em;
	margin:0;
	padding:0.7em;
	white-space:nowrap;
}

th {
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	color:#fff;
	background:#999;
}

th a {
	color:#fff;
}

th:first-child,
td:first-child {
	width:50%;
}

pre {
	
}

ul,p {
	color:#666;
	line-height:1.5em;
}

p code,ul code {
	padding:.25em .75em;
	border-radius:.75em;
	white-space:nowrap
}

blockquote pre,blockquote code {
	color:#666;
	background:#fff;
}

code {
	background:#eee;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

.content {
	padding:0 20px;
	max-width:1900px;
	margin:0 auto 40px;
	position:relative;
}

.header {
	background:#333;
}

.header img {
	width:90%;
	max-width:768px;
	padding:0 5%;
}

.footer {
	font-size:0.9em;
	background:#333;
}

.footer p {
	color:#eee;
	padding:20px;
	max-width:768px;
	margin:0 auto;
}

.footer .stats {
	font-size:.9em;
}

#main-menu-wrapper {margin:0;}
#main-menu {padding:10px;margin:0;text-align: left;}
#main-menu a {padding:1%;background:#444;font-size:14px;color:#fff;width:23%;}
#main-menu a:hover {background:#f00;}
#logo {width:100%;margin-top:10px;}

@media screen and (max-width:48em) {

	body {
		font-size:1em;
	}

}

form > div.form-field, form > fieldset > div.form-field {
	padding: 0.5em 0;
}

#job_add > fieldset > div.form-field.cap-row, #job_edit > fieldset > div.form-field.cap-row
	{ border-bottom: 1px solid #ccc; padding: 0.5em; }
#job_add > fieldset > div.form-field.cap-row label, #job_edit > fieldset > div.form-field.cap-row label
	{ vertical-align: middle; }
#job_add > fieldset > div.form-field > div.cap-row-numeric, #job_edit > fieldset > div.form-field > div.cap-row-numeric
	{ padding: 0.5em 0 0 0.5em; }

form div.description { color: #ccc; font-size:  smaller; font-style: italic; }
form .cap-row { padding: 5px 2px; }

.form-field h4 {margin-top:0;}
.cap-row-numeric {margin-top:15px;}
img.thumbnail {width:150px;float:left;}

p.breadcrumb { margin-top: 0.5em; font-size: 12px; }
p.breadcrumb > a { color:#666; }
p.breadcrumb > a:hover { text-decoration: underline; }

ul.messages { border: 1px solid; padding: 25px; margin-left: 0px; font-size: 12px; }
ul.messages.errors { border-color: #F66; background-color: #FCC;  }
ul.messages.errors > li.error { color: #F44; font-weight: bold; }

.cap-row-numeric input[type="number"] {width:70px;}
.form-submit {font-size:25px;padding:30px;border:none;background:#558;width:300px;text-align:center;color:#fff;margin-top:30px}
#date-range-picker {display:none;font-size:14px;position:absolute;top:50px;right:20px;}
#date-range-picker .form-submit {display:inline;font-size:14px;padding:0px;width:auto;margin-top:0}
.form-submit:hover {background:#f00;}
.new-cap-wrapper, .new-goggle-wrapper, .new-accessory-wrapper {display:none;}
#add-cap-orders, #add-goggle-orders {cursor:pointer;}

table {border-radius:0;}

.delivery-address {margin-bottom:20px;}

.small-info-table {margin-bottom:20px;}
.small-info-table tr {width:50%;float:left;}
.small-info-table tr th {width:200px;}
.small-info-table tr td {width:380px;}

.fa {color:#558}
.fa:hover {color:#f00;}

.form-group {background:#ddd;margin:10px 0;padding:20px;}
.form-group .form-field {margin:10px 0;}
#field-accessories-wrapper {padding-left:200px;}

label {width:200px}
input, select, textarea {border:1px solid #ccc;}
input[type="file"] {border:none;}

.small-info-table tr, .delivery-address tr {background:#fff;}

.order-table td {background:#fff;border-bottom:1px solid #eee;}
.order-table img {width:80px;}
.order-table img:hover {width:300px;}
th.printing {background:#777}
td.printing {background:#e5e5e5;}

.status-1 {background:#fbb;}
.status-2 {background:#ffb;}
.status-3 {background:#bfb;}
.status-6 {background:#bbf;}
.status-7 {background:#fde;}
.status-8 {background:#daa;}

.change-status {background:#558;color:#fff;border-radius:15px;}
.hurry {color:#f00;}

.message-item {padding:20px;font-size:15px;}
.message-item.warning {background:#f00;}
.message-item.info {background:#f90;}
.message-item.debug {background:#222;color:#ddd;}
.message-item.goodthings {background:#09f;}

#range-start, #range-end {padding:5px;border:none;background:#555;color:#fff;}

.jobs table th:nth-child(3), .jobs table td:nth-child(3),
.jobs table th:nth-child(5), .jobs table td:nth-child(5) {display:none;}

.jobs table {width:100%;}
.jobs table th {display:none;}
.jobs table td {width:100%;float:left;}

@media all and (min-width: 480px) and (max-width: 959px) { /* tablet */
  
}

@media all and (min-width: 960px) { /* desktop */
	.jobs table th:nth-child(3), .jobs table td:nth-child(3),
	.jobs table th:nth-child(5), .jobs table td:nth-child(5),
	.jobs table th:nth-child(6), .jobs table td:nth-child(6) {display:table-cell;}
	#logo {float:left;margin-top:10px;width:auto;}
	#main-menu-wrapper {width:1900px;margin:0 auto;}
	#main-menu {padding:10px;max-width:1200px;margin:0 auto;text-align: left;float:right;}
	#main-menu a {padding:15px;background:#444;font-size:14px;color:#fff;width:auto;}
	#main-menu a:hover {background:#f00;}
	#date-range-picker {display:block;}
	.jobs table th {display:table-cell;}
	.jobs table td {width:auto;float:none;}
}



