<div class="content container-fluid">
    <div class="row" id="user_form_login">

        <div class="col-md-6 col-md-offset-3">

            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">404 - Page not found</h3>
                    </div>
                    <div class="panel-body">
                        <p style="font-size:100px">You're up to something weird, and I don't like it!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>