<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2>Accounts</h2>
			<check if="{{isset(@SESSION.message)}}">
				<true>
					<div class="message">{{@SESSION.message}}</div>
					<div class="spacer">&#0160;</div>
				</true>
			</check>
			
			<p><a href="/accounts/add"><i class="fa fa-plus" title="Add"></i></a></p>
			<table class="table table-striped">
				<thead><tr><th>Account Name</th><th>Actions</th></tr></thead>
				<tbody>
					<repeat group="{{ @accounts }}" key="{{ @k }}" value="{{ @v }}">
		        <tr>
				<td>{{ @v.account_name }}</td>
				<td>
					<a href="/account/{{ @v.account_id }}"><i class="fa fa-eye" title="View"></i></a> &#0160;
					<a href="/?a={{@v.account_id}}"><i class="fa fa-cubes" title="Jobs for {{@v.account_name}}"></i></a> &#0160;
					<a href="/?a={{@v.account_id}}&v=d"><i class="fa fa-truck" title="Delivered Jobs for {{@v.account_name}}"></i></a> &#0160;
					<a href="/?a={{@v.account_id}}&v=c"><i class="fa fa-thumbs-down" title="Cancelled Jobs for {{@v.account_name}}"></i></a> &#0160;
					<a href="/account/{{ @v.account_id }}/edit"><i class="fa fa-edit" title="Edit"></i></a>
					<a href="/issuekey/account?lock=account_id&key={{@v.account_id}}&email="><i class="fa fa-key" aria-hidden="true"></i></a>
				</td>
			</tr>
		      </repeat>
				</tbody>
			</table>
		</div>
	</div>
</div>
