<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2>{{ @account_name }}</h2>
			<!-- account details -->
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Action</th>
						<td>
							<a href="/account/{{ @account_id }}"><i class="fa fa-eye" title="View"></i></a> &#0160;
							<a href="/?a={{@account_id}}"><i class="fa fa-cubes" title="Jobs for {{@account_name}}"></i></a> &#0160;
							<a href="/?a={{@account_id}}&v=d"><i class="fa fa-truck" title="Delivered Jobs for {{@account_name}}"></i></a> &#0160;
							<a href="/?a={{@account_id}}&v=c"><i class="fa fa-thumbs-down" title="Cancelled Jobs for {{@account_name}}"></i></a> &#0160;
							<a href="/account/{{ @account_id }}/edit"><i class="fa fa-edit" title="Edit"></i></a>
						</td>
					</tr>
					<repeat group="{{@account_vars}}" key="{{@key}}" value="{{@val}}">
						<check if="{{@key != 'account_name'}}">
							<true>
								<tr>
									<th>
										{{ucwords(str_ireplace('_', ' ', @key))}}
									</th>
									<td>{{ str_ireplace("\n", '<br />',  htmlspecialchars(@val))}}</td>
								</tr>
							</true>
						</check>
					</repeat>
				</tbody>
			</table>
			<h3>People</h3>
			<p><a href="/people/add/{{@account_id}}"><i class="fa fa-plus" title="Add"></i></a></p>
			<table class="table table-striped">
				<thead><tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Phone</th><th class="hidden-sm hidden-xs">Alt Phone</th><th>Action</th></tr></thead>
				<tbody>
				<repeat group="{{ @people }}" key="{{ @k }}" value="{{ @v }}">
		        <tr><td>{{ @v.person_first_name }}</td>
						<td>{{ @v.person_last_name }}</td>
						<td><a href="mailto:{{ @v.person_email }}">{{ @v.person_email }}</a></td>
						<td>{{ @v.person_phone_1 }}</td>
						<td class="hidden-sm hidden-xs">{{ @v.person_phone_2 }}</td>
						<td><a href="/person/{{@v.person_id}}/edit"><i class="fa fa-edit" title="Edit"></i></a></td>
				</tr>
		      </repeat>
				</tbody>
			</table>
		</div>
	</div>
</div>
