<div class="content container-fluid">

    <!-- check values, to see if there should be error messages output -->
            <check if="{{isset(@POST.account_name) && (strlen(@POST.account_name) < 5)}}">
                <true>
                    <div class="row"><div class="error col-sm-12">Account name must be at least five characters long.</div></div>
                </true>
            </check>
            <check if="{{isset(@POST.account_address) && (strlen(@POST.account_address) < 10)}}">
                <true>
                    <div class="row"><div class="error col-sm-12">Delivery Address must be at least ten characters long.</div></div>
                </true>
            </check>
            <check if="{{isset(@POST.person_first_name) && (strlen(@POST.person_first_name) < 1) && isset(@POST.person_last_name) && (strlen(@POST.person_last_name) < 1)}}">
                <true>
                    <div class="row"><div class="error col-sm-12">Please enter either a first name or last name for the contact person.</div></div>
                </true>
            </check>
            <check if="{{isset(@POST.person_email) && (strlen(@POST.person_email) < 1) && isset(@POST.person_phone1) && (strlen(@POST.person_phone1) < 1)}}">
                <true>
                    <div class="row"><div class="error col-sm-12">Please enter either an email address or phone number for the contact person.</div></div>
                </true>
                <false>
                    <check if="{{isset(@POST.person_email) && (filter_var(@POST.person_email, FILTER_VALIDATE_EMAIL) == FALSE)}}">
                        <div class="row"><div class="error col-sm-12">Please enter a valid email address for the contact person.</div></div>
                    </check>
                </false>
            </check>

    <div class="row">
        <div class="col-sm-12">
            <h2>Create Account</h2>
            <!-- show the form -->
            <form name="account_add" class="edit-form form-horizontal" id="account-add" method="post" action="{{ @BASE }}{{ @PARAMS.0 }}" >
                <!-- if there are errors, display the appropriate message(s) -->
                <div class="form-group" id="field-account_name-wrapper">
                    <label for='account_name' class="col-sm-2 control-label">Account Name: <span class="required">*</span></label>
                    <div class="col-sm-10"><input name="account_name" class="form-control" id="account_name" required="required" autofocus="autofocus" maxlength="50" pattern=".{5,50}" title="5 to 50 characters"
                        placeholder="EG: Acme Swim School" size="50" value="{{isset(@POST.account_name)? htmlspecialchars(@POST.account_name):''}}" /></div>
                </div>
                <div class="form-group" id="field-account_address-wrapper">
                    <label for='account_address' class="col-sm-2 control-label">Delivery Address: <span class="required">*</span>
                    <div class="description">10 to 500 characters</div></label>
                    <div class="col-sm-10"><textarea rows="4" cols="40" class="form-control" name="account_address" id="account_address" required="required" maxlength="500" pattern=".{10,500}" title="10 to 500 characters"
                        placeholder="Eg: 1 Nosuch Drive, Somewhere, Somewhere Else, 1234" >{{isset(@POST.account_address)? htmlspecialchars(@POST.account_address):''}}</textarea></div>
                </div>
                <div class="form-group" id="field-account_vat_number-wrapper">
                    <label for='account_vat_number' class="col-sm-2 control-label">VAT No: </label>
                    <div class="col-sm-10"><input name="account_vat_number" class="form-control" id="account_vat_number" maxlength="20" pattern="[0-9A-Z-\/]{0,20}" title="0 to 20 characters"
                        placeholder="EG: 1234567890" size="20" value="{{isset(@POST.account_vat_number)? htmlspecialchars(@POST.account_vat_number):''}}" /></div>
                </div>
                <fieldset class="form-fieldset" id="group-account_contact_person">
                    <legend>Contact Person</legend>
                        <div class="form-group" id="field-person_first_name-wrapper">
                        <label for='person_first_name' class="col-sm-2 control-label">First Name: </label>
                        <div class="col-sm-10"><input name="person_first_name" class="form-control" id="person_first_name" autocomplete="on" maxlength="200" pattern=".{2,200}" title="2 to 200 characters" placeholder="EG: Johannes" size="50"
                            value="{{isset(@POST.person_first_name)? htmlspecialchars(@POST.person_first_name):''}}" /></div>
                    </div>
                    <div class="form-group" id="field-person_last_name-wrapper">
                        <label for='person_last_name' class="col-sm-2 control-label">Last Name: </label>
                        <div class="col-sm-10"><input name="person_last_name" class="form-control" id="person_last_name" autocomplete="on" maxlength="200" pattern=".{2,200}" title="2 to 200 characters" placeholder="EG: Kerkorrel" size="50"
                            value="{{isset(@POST.person_last_name)? htmlspecialchars(@POST.person_last_name):''}}" /></div>
                    </div>
                    <div class="form-group" id="field-person_email-wrapper">
                        <label for='person_email' class="col-sm-2 control-label">Email: </label>
                        <div class="col-sm-10"><input type="email" name="person_email" class="form-control" id="person_email" autocomplete="off" maxlength="254" pattern=".{5,254}" title="5 to 254 characters"
                            placeholder="EG: johan.kerkorrel@example.com" size="50" value="{{isset(@POST.person_email)? htmlspecialchars(@POST.person_email):''}}" /></div>
                    </div>
                    <div class="form-group" id="field-person_phone1-wrapper">
                        <label for='person_phone1' class="col-sm-2 control-label">Primary Phone: </label>
                        <div class="col-sm-10"><input type="phone" name="person_phone1" class="form-control" id="person_phone1" autocomplete="off" maxlength="30" pattern=".{10,30}" title="10 to 30 characters"
                            placeholder="EG: 27 (0) 11 999 9999" size="20" value="{{isset(@POST.person_phone1)? htmlspecialchars(@POST.person_phone1):''}}" /></div>
                    </div>
                    <div class="form-group" id="field-person_phone2-wrapper">
                        <label for='person_phone2' class="col-sm-2 control-label">Alternate Phone: </label>
                        <div class="col-sm-10"><input type="phone" name="person_phone2" class="form-control" id="person_phone2" autocomplete="off" maxlength="30" pattern=".{10,30}" title="10 to 30 characters"
                            placeholder="EG: 27 (0) 83 999 9999" size="20" value="{{isset(@POST.person_phone2)? htmlspecialchars(@POST.person_phone2):''}}" /></div>
                    </div>
                    <div class="form-group" id="field-person_id_number-wrapper">
                        <label for='person_id_number' class="col-sm-2 control-label">ID Number: </label>
                        <div class="col-sm-10"><input name="person_id_number" class="form-control" id="person_id_number" autocomplete="off" maxlength="25" pattern=".{10,25}" title="10 to 25 characters" placeholder="EG: 9202259999999" size="20"
                            value="{{isset(@POST.person_id_number)? htmlspecialchars(@POST.person_id_number):''}}" /></div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10"><input type="submit" class="form-submit btn btn-primary" value="Submit"/></div>
                </div>
            </form>
        </div>
    </div>
</div>
