<div class="content container-fluid"><div class="row">
        <div class="col-sm-12">
          <h2>{{ @title }}</h2>
          
          <!-- show the form -->
          <form name="person_add" class="edit-form form-horizontal" id="person-add" method="post" action="{{ @BASE }}{{ @PARAMS.0 }}" >
              <!-- if there are errors, display the appropriate message(s) -->
              <div class="form-group" id="field-person_first_name-wrapper">
                  <label for='person_first_name' class="col-sm-2 control-label">First Name: <span class="required">*</span></label>
                  <div class="col-sm-10"><input name="person_first_name" class="form-control" id="person_first_name" required="required" autofocus="autofocus" maxlength="50" pattern=".{1,50}"
                         title="1 to 50 characters" placeholder="EG: Kevin" size="50"
                         value="{{isset(@POST.person_first_name)? htmlspecialchars(@POST.person_first_name):''}}" /></div>
              </div>
              <div class="form-group" id="field-person_last_name-wrapper">
                  <label for='person_last_name' class="col-sm-2 control-label">Last Name: <span class="required">*</span></label>
                  <div class="col-sm-10"><input name="person_last_name" class="form-control" id="person_last_name" required="required" autofocus="autofocus" maxlength="50" pattern=".{1,50}"
                         title="1 to 50 characters" placeholder="EG: Goodacre" size="50"
                         value="{{isset(@POST.person_last_name)? htmlspecialchars(@POST.person_last_name):''}}" /></div>
              </div>
              <div class="form-group" id="field-person_email-wrapper">
                  <label for='person_email' class="col-sm-2 control-label">Email:</label>
                  <div class="col-sm-10"><input name="person_email" class="form-control" id="person_email" autofocus="autofocus" maxlength="100" pattern=".{7,100}"
                         title="7 to 100 characters" placeholder="EG: arseface@hoophoop.com" size="50"
                         value="{{isset(@POST.person_email)? htmlspecialchars(@POST.person_email):''}}" /></div>
              </div>
              <div class="form-group" id="field-person_phone_1-wrapper">
                  <label for='person_phone_1' class="col-sm-2 control-label">Phone:</label>
                  <div class="col-sm-10"><input name="person_phone_1" class="form-control" id="person_phone_1" autofocus="autofocus" maxlength="50" pattern=".{1,50}"
                         title="1 to 50 characters" placeholder="EG: 0825556963" size="50"
                         value="{{isset(@POST.person_phone_1)? htmlspecialchars(@POST.person_phone_1):''}}" /></div>
              </div>
              <div class="form-group" id="field-person_phone_2-wrapper">
                  <label for='person_phone_2' class="col-sm-2 control-label">Alt Phone:</label>
                  <div class="col-sm-10"><input name="person_phone_2" class="form-control" id="person_phone_2" autofocus="autofocus" maxlength="50" pattern=".{1,50}"
                         title="1 to 50 characters" placeholder="EG: 0215485969" size="50"
                         value="{{isset(@POST.person_phone_2)? htmlspecialchars(@POST.person_phone_2):''}}" /></div>
              </div>
              <div class="form-group" id="field-id_number-wrapper">
                  <label for='id_number' class="col-sm-2 control-label">ID Number:</label>
                  <div class="col-sm-10"><input name="id_number" class="form-control" id="id_number" autofocus="autofocus" maxlength="13" pattern=".{13,13}"
                         title="13 characters" placeholder="EG: 7506253333186" size="50"
                         value="{{isset(@POST.id_number)? htmlspecialchars(@POST.id_number):''}}" /></div>
              </div>
              <div class="form-group" id="field-staff-wrapper">
                  <label for='staff' class="col-sm-2 control-label">Staff:</label>
                  <div class="col-sm-10"><input name="staff" class="form-control" id="staff" autofocus="autofocus" type="checkbox"
                         {{isset(@POST.staff) && @POST.staff == 1 ? 'checked="checked"':''}} /></div>
              </div>
              <div class="form-group" id="field-account_id-wrapper">
                  <label for='account_id' class="col-sm-2 control-label">Account:</label>
                  <div class="col-sm-10"><select name="account_id" class="form-control" id="account_id" autofocus="autofocus">
                      <repeat group="{{ @account_options }}" key="{{ @k }}" value="{{ @v }}"> 
                        <check if="@POST.account_id == @k">
                          <true>
                              <option value="{{ @k }}" selected="selected">{{ @v }}</option>
                          </true>
                          <false>
                              <option value="{{ @k }}">{{ @v }}</option>
                          </false>
                        </check>
                      </repeat>
                  </select></div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10"><input type="submit" class="form-submit btn btn-primary" value="Submit"/></div>
              </div>
          </form>
        </div>
      </div>
</div>
