<div class="content container-fluid">
    <div class="row" id="user_form_login">

        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Job approval</h3>
                </div>
                <div class="panel-body">
                    <p>Thanks for taking the time to approve this job. Please simply <a class="btn btn-success btn-xs _jstrigger" href="mailto:swim@pacerswimwear.co.za?subject=Job Approval {{ @PARAMS.jid }}&body=I confirm that this job is what I expected.">click here to mail us</a> your approval so that we can complete your order.</p>
                    <p>Have a great day!</p>
                    <p>The Pacer Team</p>
                </div>
            </div>
        </div>
    </div>
</div>