<div class="row" id="user_form_login">

    <div class="col-md-6 col-md-offset-3">

        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">You're blocked</h3>
                </div>
                <div class="panel-body">
                    <p>Contact your system administrator for help</p>
                </div>
            </div>
        </div>
    </div>
</div>