<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<check if="{{isset(@goggles_order) && !empty(@goggles_order)}}">
				<true>
					<h2>Delete Goggles order: {{ @goggles_order[0]['account_name'] }} - {{ @goggles_order[0]['description'] }}</h2>
					<h3>Are you sure you want to delete this goggles order?</h3>
					<table class="table table-striped">
						<thead>
							<tr><th>Description</th><th>Quantity</th></tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ ucwords(strtolower(@goggles_order[0]['goggle_description'])) }}</td>
								<td>{{@goggles_order[0]['quantity']}}</td>
							</tr>
						</tbody>
					</table>
					
					<div class="spacer">&#0160;</div>
					
					<form id="del_goggles_order_form" action="/goggles_order_del/{{@goggles_order[0]['goggle_order_id']}}" method="post">
						<input type="hidden" id="goid" name="goid" value="{{@goggles_order[0]['goggle_order_id']}}" />
						<input type="hidden" id="jid" name="jid" value="{{@goggles_order[0]['job_id']}}" />
						<input class="btn btn-warning" type="submit" value="Yes" /> &nbsp;
						<input type="button" value="No" id="del_goggles_order_cancel" class="order_cancel_btn btn btn-primary" onclick="window.location.replace('/job/{{@goggles_order[0]['job_id']}}');">
					</form>
				</true>
				<false>
					<h2>Delete Goggles order: Unknown order</h2>
					
					<check if="{{isset(@error) && !empty(@error)}}">
						<true>
							<div class="error">{{@error}}</div>
							<div class="spacer">&#0160;</div>
						</true>
					</check>
				</false>
			</check>
		</div>
	</div>
</div>
