<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<check if="{{isset(@cap_order) && !empty(@cap_order)}}">
				<true>
					<h2>Delete Cap order: {{ @cap_order[0]['account_name'] }} - {{ @cap_order[0]['description'] }}</h2>
					<h3>Are you sure you want to delete this cap order?</h3>
					<table class="table table-striped">
						<thead>
							<tr><th>Description</th><th>Quantity</th><th>Print colours</th><th>Artwork</th></tr>
						</thead>
						<tbody>
							<tr>
								<td>{{@cap_order[0]['cap_description']}}</td>
								<td>{{@cap_order[0]['quantity']}}</td>
								<td>{{@cap_order[0]['number_colours']}}</td>
								<td>
									<check if="{{!empty(@cap_order[0]['artwork_img'])}}" >
										<true><img src="{{@cap_order[0]['artwork_img']}}" class="artwork" alt="artwork" /></true>
									</check>
								</td>
							</tr>
						</tbody>
					</table>
					
					<div class="spacer">&#0160;</div>
					
					<form id="del_cap_order_form" action="/cap_order_del/{{@cap_order[0]['cap_order_id']}}" method="post">
						<input type="hidden" id="coid" name="coid" value="{{@cap_order[0]['cap_order_id']}}" />
						<input type="hidden" id="jid" name="jid" value="{{@cap_order[0]['job_id']}}" />
						<input class="btn btn-warning" type="submit" value="Yes" /> &nbsp;
						<input class="btn btn-primary" type="button" value="No" id="del_cap_order_cancel" class="order_cancel_btn" onclick="window.location.replace('/job/{{@cap_order[0]['job_id']}}');">
					</form>
				</true>
				<false>
					<h2>Delete Cap order: Unknown order</h2>
					
					<check if="{{isset(@error) && !empty(@error)}}">
						<true>
							<div class="error">{{@error}}</div>
							<div class="spacer">&#0160;</div>
						</true>
					</check>
				</false>
			</check>
		</div>
	</div>
</div>
