<div class="content container-fluid">
    <!-- check values, to see if there should be error messages output -->
            <check if="{{isset(@form_values.account_name) && (strlen(@form_values.account_name) < 5)}}">
                <true>
                    <div class="row"><div class="error col-sm-12">Account name must be at least five characters long.</div></div>
                </true>
            </check>
            <check if="{{isset(@form_values.account_address) && (strlen(@form_values.account_address) < 10)}}">
                <true>
                    <div class="row"><div class="error col-sm-12">Delivery Address must be at least ten characters long.</div></div>
                </true>
            </check>
    <div class="row">
        <div class="col-sm-12">
            <h2>Edit Account: {{@form_values.account_name}}</h2>
            
            <form name="account_add" class="edit-form form-horizontal" id="account-add" method="post" action="{{ @BASE }}{{ @PARAMS.0 }}" >
                <input type="hidden" value="{{@account_id}}" name="account_id" id="account_id" />
                <div class="form-group" id="field-account_name-wrapper">
                    <label for='account_name' class="col-sm-2 control-label">Account Name: <span class="required">*</span></label>
                    <div class="col-sm-10"><input name="account_name" class="form-control" id="account_name" required="required" autofocus="autofocus" maxlength="50" pattern=".{5,50}" title="5 to 50 characters"
                        placeholder="EG: Acme Swim School" size="50" value="{{isset(@form_values.account_name)? htmlspecialchars(@form_values.account_name):''}}" /></div>
                </div>
                <div class="form-group" id="field-account_address-wrapper">
                    <label for='account_address' class="col-sm-2 control-label">Delivery Address: <span class="required">*</span> <div class="description">10 to 500 characters</div></label>
                    <div class="col-sm-10"><textarea rows="4" cols="40" class="form-control" name="account_address" id="account_address" required="required" maxlength="500" pattern=".{10,500}" title="10 to 500 characters"
                        placeholder="Eg: 1 Nosuch Drive, Somewhere, Somewhere Else, 1234" >{{isset(@form_values.account_address)? htmlspecialchars(@form_values.account_address):''}}</textarea></div>
                    
                </div>
                <div class="form-group" id="field-account_vat_number-wrapper">
                    <label for='account_vat_number' class="col-sm-2 control-label">VAT No: </label>
                    <div class="col-sm-10"><input name="account_vat_number" class="form-control" id="account_vat_number" maxlength="20" pattern="[0-9A-Z-\/]{0,20}" title="0 to 20 characters"
                        placeholder="EG: 1234567890" size="20" value="{{isset(@form_values.account_vat_number)? htmlspecialchars(@form_values.account_vat_number):''}}" /></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10"><input type="submit" class="form-submit btn btn-primary" value="Submit"/></div>
                </div>
            </form>
        </div>
    </div>
</div>
