<div class="content container-fluid">
    <div class="row" id="user_form_login">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Issue Key</h3>
                </div>
                <div class="panel-body">

                    <!-- LOGIN FORM -->
                    <form method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon primary" title="Enter lock" id="lock_icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="text" required="required" title="Enter lock" readonly="readonly" class="form-control" id="lock" name="lock" placeholder="Your lock" value="{{ @GET.lock }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon primary" title="Enter key" id="key_icon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                <input type="text" required="required" title="Enter key" readonly="readonly" class="form-control" id="key" name="key" placeholder="Your key" value="{{ @GET.key }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon primary" title="Enter email" id="email_icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <input type="text" required="required" title="Enter email" class="form-control" id="email" name="email" placeholder="Your email" value="{{ @GET.email }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-left">
                                <button name="issuekey" type="submit" class="btn btn-md btn-success">Issue key</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>