<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="<?php echo $ENCODING; ?>" />
        <title>{{ isset(@title)? @title .' | ': ''}}Pacer BPM | {{ @servertitle }}</title>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width">
        <base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
        <link rel="stylesheet" href="lib/code.css" type="text/css" />
        <link rel="stylesheet" href="ui/css/style.css" type="text/css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- jQuery -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script src="/ui/jquery.pacer.js" type="text/javascript"></script>
    </head>
    <body class="{{ isset(@pageclass) ? @pageclass : '' }}">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DECORD</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    {{ isLoggedIn() ? '<a class="btn btn-success btn-lg navbar-right" href="/logout"><i class="fa fa-key" aria-hidden="true"></i></a>
		      <button type="button" class="btn btn-primary btn-lg navbar-right" data-toggle="modal" data-target="#searchModal">Search</button>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/">Jobs</a></li>
				<li><a href="/accounts">Accounts</a></li>
				<li><a href="/people">People</a></li>
                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Download Reports <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/report/jobs">Job report</a></li>
                                        <li><a href="/report/customer">Customer listing</a></li>
                                     </ul>
                                  </li>
		      </ul>' : '<a class="btn btn-danger btn-lg navbar-right" href="/login"><i class="fa fa-key" aria-hidden="true"></i></a>' }}

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    <check if="isset(@SESSION.messages)">
        <div id="messages" class="container-fluid">
            <include href="messages.htm" />
        </div>
    </check>
    <include href="{{ @content }}"></include>

    <div class="footer container-fluid">

        <check if="isLoggedIn()">
            <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form name="search" class="search-form" id="search" method="post" action="/search" >
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Search</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" id="field-person_first_name-wrapper">
                                    <label for='person_first_name' class="control-label">Person First Name:</label>
                                    <div class="col-sm-12"><input name="person_first_name" class="form-control" id="person_first_name" /></div>
                                </div>
                                <div class="form-group" id="field-person_last_name-wrapper">
                                    <label for='person_last_name' class="control-label">Person Last Name:</label>
                                    <div class="col-sm-12"><input name="person_last_name" class="form-control" id="person_last_name"  /></div>
                                </div>
                                <div class="form-group" id="field-account_name-wrapper">
                                    <label for='account_name' class="control-label">Account Name:</label>
                                    <div class="col-sm-12"><input name="account_name" class="form-control" id="account_name" /></div>
                                </div>
                                <div class="form-group" id="field-delivered_job_name-wrapper">
                                    <label for='delivered_job_name' class="control-label">Delivered Job:</label>
                                    <div class="col-sm-12"><input name="delivered_job_name" class="form-control" id="delivered_job_name" /></div>
                                </div>
                                <div class="form-group" id="field-active_job_name-wrapper">
                                    <label for='active_job_name' class="control-label">Active Job:</label>
                                    <div class="col-sm-12"><input name="active_job_name" class="form-control" id="active_job_name" /></div>
                                </div>
                                <div class="form-group" id="field-job_id-wrapper">
                                    <label for='job_id' class="control-label">Job ID:</label>
                                    <div class="col-sm-12"><input name="job_id" class="form-control" id="job_id" /></div>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="form-submit btn btn-primary" value="Search"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </check>

    </div>
</body>
</html>
