<div class="content container-fluid">
    <div class="row" id="user_form_login">

        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome to Decord</h3>
                </div>
                <div class="panel-body">

                    <!-- LOGIN FORM -->
                    <form method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon primary" title="Enter your email" id="user_name_icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="email" required="required" title="Enter your email" class="form-control" id="user_name" name="user_name" placeholder="Your email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon primary" title="Enter your password" id="user_name_icon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                <input type="password" required="required" title="Enter your password" class="form-control" id="user_password" name="user_password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-left">
                                <button name="login" type="submit" class="btn btn-md btn-success">Login</button>
                            </div>
                            <div class="pull-right">
                                <a href="/user/reset_password">Lost Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>