<repeat group="{{ @SESSION.messages }}" key="{{ @key }}" value="{{ @value }}">
    <div class="row">
	    <div class="message-item {{ @value.type }} col-sm-12">
	        {{ @value.type == 'debug' ? '<pre>'. print_r(@value.msg,true) .'</pre>' : @value.msg }}
	    </div>
    </div>
</repeat>