<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2>{{ @title }}</h2>
			{{ !empty(@datetext) ? '<p>'. @datetext .'</p>' : '' }}
			<p><!-- <a href="/job/new"><i class="fa fa-plus" title="Add"></i></a> &#0160; -->
					<a href="/my-jobs/{{ @jobspecific.account_id }}?key_hash={{ @GET.key_hash }}"><i class="fa fa-cubes" title="Jobs"></i></a> &#0160;
					<a href="/my-jobs/{{ @jobspecific.account_id }}?v=d&key_hash={{ @GET.key_hash }}"><i class="fa fa-truck" title="Delivered Jobs"></i></a> &#0160;
					<a href="/my-jobs/{{ @jobspecific.account_id }}?v=c&key_hash={{ @GET.key_hash }}"><i class="fa fa-thumbs-down" title="Cancelled Jobs"></i></a> &#0160;
					<!-- <a href="/my-jobs/{{ @jobspecific.account_id }}?{{ @yesrange }}"><i class="fa fa-clock-o" title="Yesterday"></i></a> &#0160; --></p>
		</div>
	</div>
	<div class="row"><div class="col-sm-12">{{ @statuscounts }}</div></div>
	<!-- <div class="row">
		<div class="col-sm-12" id="date-range-picker">
			<p>View jobs between</p>
			<form class="form-inline">
			<div class="form-group"><label for="range-start">Start</label><input type="text" id="range-start" name="ds" placeholder="Eg: 2015-10-23" size="15" maxlength="10" class="datepicker form-control" value="" /></div>
			<div class="form-group"><label for="range-end">End</label><input type="text" id="range-end" name="df" placeholder="Eg: 2015-10-23" size="15" maxlength="10" class="datepicker form-control" value="" /></div>
			<input type="hidden" id="range-state" name="rs" value="{{ (isset($_GET['v']) ? $_GET['v'] : '') }}" />
	        <input type="hidden" id="range-account" name="ra" value="{{ (isset($_GET['a']) ? $_GET['a'] : '') }}" />
			<div class="form-group"><input type="submit" value="Filter" class="form-submit btn btn-default" /></div>
			</form>
		</div>
	</div> -->
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thead><tr><th>Description</th><!-- <th>Account</th><th class="hidden-sm hidden-xs">Contact</th><th class="hidden-sm hidden-xs">Phone</th> --><th class="hidden-sm hidden-xs">Deadline</th>{{ @title == 'Jobs' ? '' : '<th>Complete</th>' }}<th>Status</th></tr></thead>
				<tbody>
					<repeat group="{{ @jobs }}" key="{{ @k }}" value="{{ @v }}">
		        <tr class="status-{{ @v.status_id }}"><td><div class="colour-code"></div>{{ @v.description }}{{ @v.approval_confirmed ? ' <i class="fa fa-thumbs-up" aria-hidden="true"></i>' : '' }}</td>
						<!-- <td><a href="/account/{{@v.account_id}}" class="extlink">{{ @v.account_name }}</a></td>
						<td class="hidden-sm hidden-xs"><a href="mailto:{{ @v.person_email }}">{{ @v.person_first_name }} {{ @v.person_last_name }}</a></td>
						<td class="hidden-sm hidden-xs">{{ !empty(@v.person_phone_1) ? ''. str_replace(" ", "", @v.person_phone_1) : '' }}</td> -->
						<td class="hidden-sm hidden-xs{{ (!empty(@v.deadline) && (@v.deadline - (3600*24*2)) < time()) ? ' hurry' : '' }}">D: {{ (!empty(@v.deadline) ? '<span class="important-text">'. date('d/m/Y', @v.deadline) .'</span>' : unix_to_days(time() - @v.created) . ' old') }}<br />C: {{ date('d/m/Y', @v.created) }}</td>
						{{ @title == 'Jobs' ? '' : '<td>'. (@v.delivered > 0 ? date('d/m/Y', @v.delivered) : (@v.closed > 0 ? date('d/m/Y', @v.closed) : '')) .'</td>' }}
						<td>{{ @v.status }}</td></tr>
		      </repeat>
				</tbody>
			</table>
		</div>
	</div>
</div>
