<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2>{{ @job.account_name }} - {{ @job.description }} (Job #{{ @job.job_id }}) {{ isLoggedIn() ? '<a href="/job/'. @job.job_id .'"><i class="fa fa-edit"></i></a>' : '' }} {{ isset($_GET['key_hash']) && !isLoggedIn() ? '<a class="btn btn-success" href="/approve/'. @job.job_id .'">Approve</a>' : '' }}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<table class="table table-striped">
				<tbody>
					<tr><th>Deadline Date</th><td>{{ (intval(@job.deadline) > 0)? date("Y-m-d", @job.deadline): 'None' }}</td></tr>
					<tr><th>Created</th><td>{{ date("Y-m-d", @job.created) }}</td></tr>
					<tr><th>Date Delivered</th><td>{{ (intval(@job.delivered) > 0)? date("Y-m-d", @job.delivered) .' ('. number_format((@job.delivered - @job.created)/(24*3600),2) . ' days)': '' }}</td></tr>
					<tr><th>Contact</th><td>{{ @job.person_first_name }} {{ @job.person_last_name }}</td></tr>
					<tr><th>Email</th><td><a href="mailto:{{ @job.person_email }}">{{ @job.person_email }}</a></td></tr>
					<tr><th>Phone</th><td>{{ @job.person_phone_1 }}</td></tr>
					<tr><th>Alt phone</th><td>{{ @job.person_phone_2 }}</td></tr>
					<tr><th>Has Accessories</th><td>{{ @job.accessories ? 'Yes' : 'No' }}</td></tr>
					<tr><th>Status</th><td>{{ !empty(@job.status_id) && array_key_exists(@job.status_id, @statuses) ? @statuses[@job.status_id] : '?' }}</td></tr>
					<tr><th>Tracking Numbers</th><td>{{ @job.tracking_numbers }}</td></tr>
					<tr><th>Approved</th><td>{{ @job.approval_confirmed > 0 ? 'Yes' : 'No' }}</td></tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-striped">
				<tbody>
					<tr><th>Delivery Address</th></tr><tr><td>{{ nl2br(@job.delivery_address) }}</td></tr>
				</tbody>
			</table>
			<check if="!is_null(@job.note)">
				<table class="table table-striped">
					<tbody>
						<tr><th>Notes</th></tr><tr><td>{{ nl2br(@job.note) }}</td></tr>
					</tbody>
				</table>
			</check>
		</div>
	</div>

	<check if="!is_null(@caps)">
		<div class="row">
			<div class="col-sm-12">
				<h3>Cap orders</h3>
				<table class="table table-striped">
					<thead>
						<tr><th>Description</th><th>Code</th><th>Quantity</th><th>Price</th><th class="printing">Colours</th><th class="printing">Colours (detail)</th><th class="printing">Names</th></tr>
					</thead>
					<tbody>
						<repeat group="{{ @caps }}" key="{{ @k }}" value="{{ @v }}">
							<tr>
								<td>{{ @v.cap_description }}</td>
								<td>{{ @v.product_code }}</td>
								<td>{{ @v.quantity }}</td>
								<td>{{ (!empty(@v.price) && (@v.price > 0)) ? 'R'. number_format(@v.price, 2) : '' }}</td>
								<check if="@v.number_colours == 0 && empty(@v.colours) && @v.number_names == 0 && empty(@v.artwork_image) && empty(@v.final_image)">
									<true>
										<td class="printing" colspan="5">No Printing</td>
									</true>
									<false>
										<td class="printing">{{ @v.number_colours }}</td>
										<td class="printing">{{ @v.colours }}</td>
										<td class="printing">{{ @v.number_names > 0 ? 'Yes' : 'No' }}</td>
										</tr>
										<tr>
										<td colspan="7" class="printing">{{ @v.artwork_image == NULL ? '' : '<img class="artwork" src="'. @v.artwork_image .'" />' }}</td>
										</tr>
										<tr>
										<td colspan="7" class="printing">{{ @v.final_image == NULL ? '' : '<img class="artwork" src="'. @v.final_image .'" />' }}</td>
										</tr>
									</false>
								</check>
								
							</tr>
						</repeat>
					</tbody>
				</table>
			</div>
		</div>
	</check>
	
	<check if="!is_null(@goggles)">
		<div class="row">
			<div class="col-sm-12">
				<h3>Goggles orders</h3>
				<table class="table table-striped">
					<thead>
						<tr><th>Description</th><th>Code</th><th>Quantity</th><th>Price</th></tr>
					</thead>
					<tbody>
						<repeat group="{{ @goggles }}" key="{{ @k }}" value="{{ @v }}">
							<tr>
								<td>{{ @v.goggle_description }}</td>
								<td>{{ @v.goggle_product_code }}</td>
								<td>{{ @v.quantity }}</td>
								<td>{{ (!empty(@v.price) && (@v.price > 0)) ? 'R'. number_format(@v.price, 2) : '' }}</td>
							</tr>
						</repeat>
					</tbody>
				</table>
			</div>
		</div>
	</check>
	
	<check if="!is_null(@accessories)">
		<div class="row">
			<div class="col-sm-12">
				<h3>Accessory orders</h3>
				<table class="table table-striped">
					<thead>
						<tr><th>Description</th><th>Code</th><th>Quantity</th><th>Price</th></tr>
					</thead>
					<tbody>
						<repeat group="{{ @accessories }}" key="{{ @k }}" value="{{ @v }}">
							<tr>
								<td>{{ @v.accessory_description }}</td>
								<td>{{ @v.accessory_product_code }}</td>
								<td>{{ @v.quantity }}</td>
								<td>{{ (!empty(@v.price) && (@v.price > 0)) ? 'R'. number_format(@v.price, 2) : '' }}</td>
							</tr>
						</repeat>
					</tbody>
				</table>
			</div>
		</div>
	</check>
	
</div>
