<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2>{{ @title }}</h2>
			{{ isset(@sql) ? '<div class="sqlquery">'. @sql .'<br /><br />'. print_r(@sqlvars, true) .'</div>' : '' }}
			<div class="axisbi-controller">
				<select id="report">
					<repeat group="{{ @reports }}" value="{{ @value }}">
							<option value="{{ @value['report_id'] }}"{{ @params['report_id'] == @value['report_id'] ? ' selected="selected" ' : '' }}>{{ @value['report_name'] }}</option>
						</repeat>
					</repeat>
				</select>
				for date range
				<select id="timedate">
					<option value="?:var1=null&:var2=null"{{ @gets[':var1'] == 'null' && @gets[':var2'] == 'null' ? ' selected="selected" ' : '' }}>All time</option>
					<repeat group="{{ @timedate }}" value="{{ @value }}">
							<option value="{{ '?:var1='. @value[0] .'&:var2='. @value[1] }}"{{ @gets[':var1'] == @value[0] && @gets[':var2'] == @value[1] ? ' selected="selected" ' : '' }}>{{ @value[2] }}</option>
						</repeat>
					</repeat>
				</select>
				for accounts
				<select id="account">
					<option value="&:var3=null"{{ @gets[':var3'] == 'null' ? ' selected="selected" ' : '' }}>All accounts</option>
					<repeat group="{{ @accounts }}" value="{{ @value }}">
							<option value="{{ '&:var3='. @value['account_id'] }}"{{ @gets[':var3'] == @value['account_id'] ? ' selected="selected" ' : '' }}>{{ @value['account_name'] }}</option>
						</repeat>
					</repeat>
				</select>
				<button class="btn btn-primary btn-xs" id="goreport">Go</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thead><tr>
				<repeat group="{{ @header }}" value="{{ @v }}">
					<th>{{ @v }}</th>
				</repeat>
				</tr></thead>
				<tbody>
					<repeat group="{{ @output }}" key="{{ @ko }}" value="{{ @vo }}">
		        <tr>
							<repeat group="{{ @header }}" value="{{ @vh }}">
								<td>{{ @vo[@vh] }}</td>
							</repeat>
						</tr>
		      </repeat>
				</tbody>
			</table>
		</div>
	</div>
</div>
