<div class="form-group" id="field-person_first_name-wrapper">
    <label for='person_first_name' class="col-sm-2 control-label">Person First Name:</label>
    <div class="col-sm-10"><input name="person_first_name" id="person_first_name" /></div>
</div>
<div class="form-group" id="field-person_last_name-wrapper">
    <label for='person_last_name' class="col-sm-2 control-label">Person Last Name:</label>
    <div class="col-sm-10"><input name="person_last_name" id="person_last_name"  /></div>
</div>
<div class="form-group" id="field-account_name-wrapper">
    <label for='account_name' class="col-sm-2 control-label">Account Name:</label>
    <div class="col-sm-10"><input name="account_name" id="account_name" /></div>
</div>
<div class="form-group" id="field-delivered_job_name-wrapper">
    <label for='delivered_job_name' class="col-sm-2 control-label">Delivered Job:</label>
    <div class="col-sm-10"><input name="delivered_job_name" id="delivered_job_name" /></div>
</div>
<div class="form-group" id="field-active_job_name-wrapper">
    <label for='active_job_name' class="col-sm-2 control-label">Active Job:</label>
    <div class="col-sm-10"><input name="active_job_name" id="active_job_name" /></div>
</div>