<div class="content">
	<h2>Staff</h2>
	<p><a href="/people/add"><i class="fa fa-plus" title="Add"></i></a></p>
	<table>
		<thead><tr><th>Surname</th><th>First Name(s)</th><th>Email</th><th>Phone</th><th>Alt Phone</th><th>Action</th></tr></thead>
		<tbody>
			<repeat group="{{ @people }}" key="{{ @k }}" value="{{ @v }}">
        <tr>
		<td>{{ @v.person_last_name }}</td>
		<td>{{ @v.person_first_name }}</td>
		<td>{{ @v.person_email }}</td>
		<td>{{ @v.person_phone_1 }}</td>
		<td>{{ @v.person_phone_2 }}</td>
		<td><a href="/person/{{ @v.person_id }}/edit"><i class="fa fa-edit" title="Edit"></i></a> &nbsp; <a href="/person/{{ @v.person_id }}/delete"><i class="fa fa-trash-o" title="Delete"></i></a></td>
	</tr>
	</tr>
      </repeat>
		</tbody>
	</table>
</div>
