<div class="content container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ @title }} <a href="/job/{{ @job_base.job_id }}/print"><i class="fa fa-print"></i></a></h2>

      <form name="job_work" class="edit-form form-horizontal" id="job_work" method="post" action="{{ @BASE }}{{ @PARAMS.0 }}" enctype="multipart/form-data" >
          <div class="form-group" id="field-status_id-wrapper">
              <label for='status_id' class="col-sm-2 control-label">Status: <span class="required">*</span></label>
              <div class="col-sm-10"><select name="status_id" class="form-control" id="status_id" required="required">
                <option value="">- Select -</option>
                <repeat group="{{ @statuses }}" key="{{ @k }}" value="{{ @v }}">
                  <option value="{{ @k }}" {{ isset(@job_base.status_id) && @k == @job_base.status_id ? 'selected="selected"' : '' }}>{{ @v }}</option>
                </repeat>
              </select></div>
          </div>
          <div class="form-group" id="field-approval_confirmed-wrapper">
              <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="approval_confirmed" name="approval_confirmed" value="1" {{(isset(@job_base.approval_confirmed) && (@job_base.approval_confirmed == 1))? 'checked="checked"': ''}}/> Approval Confirmed
                    </label>
                  </div>
              </div>
          </div>
          <div class="form-group" id="field-created-wrapper">
              <label for="created" class="col-sm-2 control-label">Created:</label>
              <div class="col-sm-10"><input type="text" id="created" disabled="disabled" name="created" placeholder="Eg: 2015-10-23" size="15" maxlength="10" class="datepicker form-control"
                  value="{{ isset(@job_base.created)? date('Y-m-d', @job_base.created) : '' }}" /></div>
          </div>
          <div class="form-group" id="field-account_id-wrapper">
              <label for='account_id' class="col-sm-2 control-label">Account: <span class="required">*</span></label>
              <div class="col-sm-10"><select name="account_id" class="form-control" id="account_id" required="required">
                <option value="">- Select -</option>
                <repeat group="{{ @accounts }}" key="{{ @k }}" value="{{ @v }}">
                  <option value="{{ @k }}" {{ isset(@job_base.account_id) && @k == @job_base.account_id ? 'selected="selected"' : '' }}>{{ @v }}</option>
                </repeat>
              </select></div>
          </div>
          
          <div class="form-group" id="field-person_id-wrapper">
              <label for='person_id' class="col-sm-2 control-label">Contact: <span class="required">*</span></label>
              <div class="col-sm-10"><select name="person_id" class="form-control" id="person_id" required="required">
                <option value="">- Select -</option>
                <repeat group="{{ @people }}" key="{{ @k }}" value="{{ @v }}">
                  <option value="{{ @k }}" {{ isset(@job_base.person_id) && @k == @job_base.person_id ? 'selected="selected"' : '' }}>{{ @v }}</option>
                </repeat>
              </select></div>
          </div>
          
          <div class="form-group" id="field-delivery_address-wrapper" style="min-height:75px;">
              <label for='delivery_address' class="col-sm-2 control-label">Delivery Address: <span class="required">*</span>
                  <div class="description">10 to 500 characters</div>
              </label>
              <div class="col-sm-10"><textarea name="delivery_address" class="form-control" id="delivery_address" cols="30" rows="5" autofocus="autofocus" required="required"
                        maxlength="500" pattern="{10,500}">{{ isset(@job_base.delivery_address) ? @job_base.delivery_address : '' }}</textarea></div>
          </div>
          
          <div class="form-group" id="field-description-wrapper">
              <label for="description" class="col-sm-2 control-label">Description: <span class="required">*</span></label>
              <div class="col-sm-10"><input type="text" class="form-control" id="description" name="description" required="required" placeholder="Eg: XYZ Club Gala." size="50" maxlength="75"
                  value="{{ isset(@job_base.description)? @job_base.description : ''}}" /></div>
          </div>
          
          <div class="form-group" id="field-deadline-wrapper">
              <label for="deadline" class="col-sm-2 control-label">Deadline: </label>
              <div class="col-sm-10"><input type="text" id="deadline" name="deadline" placeholder="Eg: 2015-10-23" size="15" maxlength="10" class="datepicker form-control"
                  value="{{ isset(@job_base.deadline) && @job_base.deadline > 0 ? date('Y-m-d', @job_base.deadline) : '' }}" /></div>
          </div>
          
          <div class="form-group" id="field-accessories-wrapper">
              <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="accessories" name="accessories" value="1" {{(isset(@job_base.accessories) && (@job_base.accessories == 1))? 'checked="checked"': ''}}/> Accessories Included
                    </label>
                  </div>
              </div>
          </div>
          
          <div class="form-group" id="field-note-wrapper">
              <label for="note" class="col-sm-2 control-label">Note:</label>
              <div class="col-sm-10"><textarea id="note" name="note" class="form-control" placeholder="Eg: Add a pair of fins and three noseclips." cols="50" rows="3" maxlength="500" title="Max 500 characters">{{ isset(@job_base.note)? @job_base.note : '' }}</textarea></div>
          </div>
          
          <div class="form-group" id="field-closed-wrapper">
              <label for="closed" class="col-sm-2 control-label">Cancelled:</label>
              <div class="col-sm-10"><input type="text" id="closed" name="closed" placeholder="Eg: 2015-10-23" size="15" maxlength="10" class="datepicker form-control"
                  value="{{ isset(@job_base.closed) && !empty(@job_base.closed)? date('Y-m-d', @job_base.closed) : '' }}" /></div>
          </div>
          
          <div class="form-group" id="field-delivered-wrapper">
              <label for="delivered" class="col-sm-2 control-label">Fetched for Delivery:</label>
              <div class="col-sm-10"><input type="text" id="delivered" name="delivered" placeholder="Eg: 2015-10-23" size="15" maxlength="10" class="datepicker form-control"
                  value="{{ isset(@job_base.delivered) && !empty(@job_base.delivered) ? date('Y-m-d', @job_base.delivered) : '' }}" /></div>
          </div>
          
          <div class="form-group" id="field-tracking_numbers-wrapper">
              <label for="tracking_numbers" class="col-sm-2 control-label">Tracking Numbers:</label>
              <div class="col-sm-10"><input type="text" class="form-control" id="tracking_numbers" name="tracking_numbers" size="50" maxlength="100"
                  value="{{ isset(@job_base.tracking_numbers) && !empty(@job_base.tracking_numbers) ? @job_base.tracking_numbers : '' }}" /></div>
          </div>
          
          <h2>Cap orders <span id="add-cap-orders"><i class="fa fa-plus" title="Add"></i></span></h2>
          
          <check if="{{ isset(@cap_orders) }}">
            <repeat group="{{ @cap_orders }}" key="{{ @cap_order_id }}" value="{{ @cap_order }}">
              
                  <div class="form-group cap-row" id="cap-row_{{ @cap_order_id }}">
                      <label for="cap-row_{{ @cap_order_id }}-cap_id" class="col-sm-2 control-label">Cap:</label>
                      <div class="col-sm-10"><select class="form-control" name="cap_row[{{ @cap_order_id }}][cap_id]" id="cap-row_{{ @cap_order_id }}-cap_id">
                          <option value="0">-- None --</option>
                          <repeat group="{{ @caps }}" key="{{ @ck }}" value="{{ @cv }}">
                              <option value="{{ @ck }}" {{ @ck == @cap_order.cap_id ? 'selected="selected"' : '' }} >
                                  {{ htmlspecialchars(@cv) }}</option>
                          </repeat>
                      </select></div>
                  </div>
                  <div class="form-group">
                      <label for="cap-row_{{ @cap_order_id }}-quantity" class="col-sm-2 control-label">Quantity:</label>
                      <div class="col-sm-10"><input type="number" class="form-control" id="cap-row_{{ @cap_order_id }}_quantity" name="cap_row[{{ @cap_order_id }}][quantity]" min="0" max="9999999" step="1"
                             title="0-9 999 999" pattern="[0-9]{1,7}" inputmode="numeric" value="{{ @cap_order.quantity }}" /></div>
                  </div>
                  <div class="form-group">
                      <label for="cap-row_{{ @cap_order_id }}-price" class="col-sm-2 control-label">Quoted Price:</label>
                      <div class="col-sm-10"><input type="text" class="form-control" inputmode="numeric" id="cap-row_{{ @cap_order_id }}-price" name="cap_row[{{ @cap_order_id }}][price]"
                             value="{{ @cap_order.price }}" /></div>
                  </div>
                  <div class="form-group">
                      <label for="cap-row_{{ @cap_order_id }}-colours" class="col-sm-2 control-label">Print Colours:</label>
                      <div class="col-sm-10"><input type="number" class="form-control" inputmode="numeric" id="cap-row_{{ @cap_order_id }}-colours" name="cap_row[{{ @cap_order_id }}][number_colours]"
                             min="0" max="100" step="1" title="0-10" pattern="[0-9]{1,2}" value="{{ @cap_order.number_colours }}" /></div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="cap-row_{{ @cap_order_id }}-names" name="cap_row[{{ @cap_order_id }}][number_names]"
                             value="1" {{ @cap_order.number_names ? 'checked="checked"' : '' }} /> Personalized Names
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="cap-row_{{ @cap_order_id }}-colour_detail" class="col-sm-2 control-label">Colours (Detail):</label>
                      <div class="col-sm-10"><input type="text" class="form-control" id="cap-row_{{ @cap_order_id }}-colour_detail" name="cap_row[{{ @cap_order_id }}][colours]"
                             value="{{ @cap_order.colours }}" size="60" /></div>
                  </div>
                  <div class="form-group">
                        <input type="hidden" name="cap_row[{{ @cap_order_id }}][old_artwork_image]" value="{{ !empty(@cap_order.artwork_image) ? @cap_order.artwork_image : '' }}" />
                        <label for="cap-row_{{ @cap_order_id }}-image" class="img-label control-label col-sm-2">Artwork Image:</label>
                        <div class="col-sm-10"><input type="file" id="cap-row_{{ @cap_order_id }}-image" class="form-control" name="cap_row[{{ @cap_order_id }}][artwork_image]" title="Upload a picture of the cap's artwork (JPG, PNG, GIF or PDF)" />
                        </div>
                  </div>
                  {{ !empty(@cap_order.artwork_image) ? '
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <img src="'. @cap_order.artwork_image .'" class="thumbnail artwork" />
                      <div class="checkbox">
                        <label><input type="checkbox" value="1" name="cap_row['. @cap_order_id .'][delete_artwork_image]" /> Delete</label>
                      </div>
                    </div>
                  </div>' : '' }}
                  <div class="form-group">
                    <input type="hidden" name="cap_row[{{ @cap_order_id }}][old_final_image]" value="{{ !empty(@cap_order.final_image) ? @cap_order.final_image : '' }}" />
                    <label for="cap-row_{{ @cap_order_id }}-final" class="img-label control-label col-sm-2">Final Product:</label>
                    <div class="col-sm-10"><input type="file" id="cap-row_{{ @cap_order_id }}-final" class="form-control" name="cap_row[{{ @cap_order_id }}][final_image]"
                               title="Upload a picture of the final product (JPG, PNG, GIF or PDF)" /></div>
                  </div>
                  {{ !empty(@cap_order.final_image) ? '
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <img src="'. @cap_order.final_image .'" class="thumbnail" />
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="1" name="cap_row['. @cap_order_id .'][delete_final_image]" /> Delete
                          </label>
                      </div>
                    </div>
                  </div>' : '' }}
            </repeat>
          </check>
          
          <div class="new-cap-wrapper">
          <repeat group="{{ range(1,9) }}" key="{{ @key }}" value="{{ @val }}">
            <div class="form-group cap-row new-row" id="cap-row_n{{ @key }}">
                <label for="cap-row_n{{ @key }}-cap_id" class="col-sm-2 control-label">Cap:</label>
                <div class="col-sm-10"><select name="cap_row[n{{ @key }}][cap_id]" class="form-control" id="cap-row_n{{ @key }}-cap_id">
                    <option value="0">-- None --</option>
                    <repeat group="{{ @caps }}" key="{{ @ck }}" value="{{ @cv }}">
                        <option value="{{ @ck }}" >
                            {{ htmlspecialchars(@cv) }}</option>
                    </repeat></select></div>
            </div>
            <div class="form-group">
                <label for="cap-row_n{{ @key }}-quantity" class="col-sm-2 control-label">Quantity:</label>
                <div class="col-sm-10"><input type="number" class="form-control" id="cap-row_n{{ @key }}_quantity" name="cap_row[n{{ @key }}][quantity]" min="0" max="9999999" step="1"
                       title="0-9 999 999" pattern="[0-9]{1,7}" inputmode="numeric" value="0" /></div>
            </div>
            <div class="form-group">
                <label for="cap-row_{{ @key }}-price" class="col-sm-2 control-label">Quoted Price:</label>
                <div class="col-sm-10"><input type="text" class="form-control" inputmode="numeric" id="cap-row_{{ @key }}-price" name="cap_row[n{{ @key }}][price]"
                       value="" /></div>
            </div>
            <div class="form-group">
                <label for="cap-row_n{{ @key }}-colours" class="col-sm-2 control-label">Print Colours:</label>
                <div class="col-sm-10"><input type="number" class="form-control" inputmode="numeric" id="cap-row_n{{ @key }}-colours" name="cap_row[n{{ @key }}][number_colours]"
                       min="0" max="100" step="1" title="0-10" pattern="[0-9]{1,2}" value="0" /></div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="cap-row_n{{ @key }}-names" name="cap_row[n{{ @key }}][number_names]" value="1" /> Personalized Names
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
                <label for="cap-row_n{{ @key }}-colour_detail" class="col-sm-2 control-label">Colours (Detail):</label>
                <div class="col-sm-10"><input type="text" class="form-control" id="cap-row_n{{ @key }}-colour_detail" name="cap_row[n{{ @key }}][colours]"
                       value="" size="60" /></div>
            </div>
            <div class="form-group">
                  <input type="hidden" name="cap-row_n[{{ @key }}][old_artwork_image]" value="" />
                  <label for="cap-row_n{{ @key }}-image" class="img-label col-sm-2 control-label">Artwork Image:</label>
                  <div class="col-sm-10"><input type="file" class="form-control" id="cap-row_n{{ @key }}-image" name="cap_row[n{{ @key }}][artwork_image]"
                         title="Upload a picture of the cap's artwork (JPG, PNG, GIF or PDF)" /></div>
            </div>
          </repeat>
          </div>
          
          <h2>Goggle Orders <span id="add-goggle-orders"><i class="fa fa-plus" title="Add"></i></span></h2>
          
          <check if="{{ isset(@goggle_orders) }}">
            <repeat group="{{ @goggle_orders }}" key="{{ @goggle_order_id }}" value="{{ @goggle_order }}">
                  <div class="form-group cap-row" id="goggles-row_{{ @goggle_order_id }}">
                      <label for="goggles-row_{{ @goggle_order_id }}-goggle_id" class="col-sm-2 control-label">Goggle:</label>
                      <div class="col-sm-10"><select id="goggles-row_{{ @goggle_order_id }}-goggle_id" class="form-control" name="goggles_row[{{ @goggle_order_id }}][goggle_id]" >
                          <option value="0">-- None --</option>
                          <repeat group="{{@goggles}}" key="{{@gogk}}" value="{{@gogv}}">
                              <option value="{{@gogk}}" {{ @gogk == @goggle_order.goggle_id ? 'selected="selected"' : '' }} >{{htmlspecialchars(@gogv)}}</option>
                          </repeat>
                      </select></div>
                  </div>
                  <div class="form-group">
                      <label for="goggles-row_{{ @goggle_order_id }}-quantity" class="col-sm-2 control-label">Quantity:</label>
                      <div class="col-sm-10"><input type="number" class="form-control" id="goggles-row_{{ @goggle_order_id }}-quantity" name="goggles_row[{{ @goggle_order_id }}][quantity]"
                             inputmode="numeric" min="0" step="1" max="9999999" pattern="[0-9]{1,7}" title="0-9 999 999" value="{{ @goggle_order.quantity }}" /></div>
                  </div>
                  <div class="form-group">
                      <label for="goggles-row_{{ @goggle_order_id }}-price" class="col-sm-2 control-label">Quoted Price:</label>
                      <div class="col-sm-10"><input type="text" class="form-control" inputmode="numeric" id="goggles-row_{{ @goggle_order_id }}-price" name="goggles_row[{{ @goggle_order_id }}][price]"
                             value="{{ @goggle_order.price }}" /></div>
                  </div>
            </repeat>
          </check>
          
          <div class="new-goggle-wrapper">
            <repeat group="{{ range(1,9) }}" key="{{ @key }}" value="{{ @val }}">
              
                  <div class="form-group goggle-row new-row" id="goggles-row_n{{ @key }}">
                      <label for="goggles-row_n{{ @key }}-goggle_id" class="col-sm-2 control-label">Goggle:</label>
                      <div class="col-sm-10"><select id="goggles-row_n{{ @key }}-goggle_id" class="form-control" name="goggles_row[n{{ @key }}][goggle_id]" >
                          <option value="0">-- None --</option>
                          <repeat group="{{@goggles}}" key="{{@gogk}}" value="{{@gogv}}">
                              <option value="{{@gogk}}" >{{htmlspecialchars(@gogv)}}</option>
                          </repeat>
                      </select></div>
                  </div>
                  <div class="form-group">
                      <label for="goggles-row_n{{ @key }}-quantity" class="col-sm-2 control-label">Quantity:</label>
                      <div class="col-sm-10"><input type="number" class="form-control" id="goggles-row_n{{ @key }}-quantity" name="goggles_row[n{{ @key }}][quantity]"
                             inputmode="numeric" min="0" step="1" max="9999999" pattern="[0-9]{1,7}" title="0-9 999 999" value="0" /></div>
                  </div>
                  <div class="form-group">
                      <label for="goggles-row_{{ @key }}-price" class="col-sm-2 control-label">Quoted Price:</label>
                      <div class="col-sm-10"><input type="text" class="form-control" class="form-control" inputmode="numeric" id="goggles-row_{{ @key }}-price" name="goggles_row[n{{ @key }}][price]"
                             value="" /></div>
                  </div>
             
            </repeat>
          </div>
          
          <!-- Accessories -->
          <h2>Accessories <span id="add-accessory-orders"><i class="fa fa-plus" title="Add"></i></span></h2>
          
          <check if="{{ isset(@accessory_orders) }}">
            <repeat group="{{ @accessory_orders }}" key="{{ @accessory_order_id }}" value="{{ @accessory_order }}">
              
                  <div class="form-group cap-row" id="accessories-row_{{ @accessory_order_id }}">
                      <label for="accessories-row_{{ @accessory_order_id }}-accessory_id" class="col-sm-2 control-label">Accessory:</label>
                      <div class="col-sm-10"><select id="accessories-row_{{ @accessory_order_id }}-accessory_id" class="form-control" name="accessories_row[{{ @accessory_order_id }}][accessory_id]" >
                          <option value="0">-- None --</option>
                          <repeat group="{{@accessories}}" key="{{@accrk}}" value="{{@accrv}}">
                              <option value="{{@accrk}}" {{ @accrk == @accessory_order.accessory_id ? 'selected="selected"' : '' }} >{{htmlspecialchars(@accrv)}}</option>
                          </repeat>
                      </select></div>
                  </div>
                  <div class="form-group">
                      <label for="accessories-row_{{ @accessory_order_id }}-quantity" class="col-sm-2 control-label">Quantity:</label>
                      <div class="col-sm-10"><input type="number" class="form-control" id="accessories-row_{{ @accessory_order_id }}-quantity" name="accessories_row[{{ @accessory_order_id }}][quantity]"
                             inputmode="numeric" min="0" step="1" max="9999999" pattern="[0-9]{1,7}" title="0-9 999 999" value="{{ @accessory_order.quantity }}" /></div>
                  </div>
                  <div class="form-group">
                      <label for="accessories-row_{{ @accessory_order_id }}-price" class="col-sm-2 control-label">Quoted Price:</label>
                      <div class="col-sm-10"><input type="text" inputmode="numeric" class="form-control" class="form-control" id="accessories-row_{{ @accessory_order_id }}-price" name="accessories_row[{{ @accessory_order_id }}][price]"
                             value="{{ @accessory_order.price }}" /></div>
                  </div>
              
            </repeat>
          </check>
          
          <div class="new-accessory-wrapper">
            <repeat group="{{ range(1,9) }}" key="{{ @key }}" value="{{ @val }}">
              
                  <div class="form-group accessory-row new-row" id="accessories-row_n{{ @key }}">
                      <label for="accessories-row_n{{ @key }}-accessory_id" class="col-sm-2 control-label">Accessory:</label>
                      <div class="col-sm-10"><select id="accessories-row_n{{ @key }}-accessory_id" class="form-control" name="accessories_row[n{{ @key }}][accessory_id]" >
                          <option value="0">-- None --</option>
                          <repeat group="{{@accessories}}" key="{{@accrk}}" value="{{@accrv}}">
                              <option value="{{@accrk}}" >{{htmlspecialchars(@accrv)}}</option>
                          </repeat>
                      </select></div>
                  </div>
                  <div class="form-group">
                      <label for="accessories-row_n{{ @key }}-quantity" class="col-sm-2 control-label">Quantity:</label>
                      <div class="col-sm-10"><input type="number" class="form-control" id="accessories-row_n{{ @key }}-quantity" name="accessories_row[n{{ @key }}][quantity]"
                             inputmode="numeric" min="0" step="1" max="9999999" pattern="[0-9]{1,7}" title="0-9 999 999" value="0" /></div>
                  </div>
                  <div class="form-group">
                      <label for="accessories-row_{{ @key }}-price" class="col-sm-2 control-label">Quoted Price:</label>
                      <div class="col-sm-10"><input type="text" class="form-control" inputmode="numeric" id="accessories-row_{{ @key }}-price" name="accessories_row[n{{ @key }}][price]"
                             value="" /></div>
                  </div>
              
            </repeat>
          </div>
          
          <div class="form-group" id="field-email-wrapper">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="email" name="email" value="1"/> Email client order
                </label>
              </div>
            </div>
          </div>
          
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10"><input type="submit" value="Submit" class="form-submit btn btn-primary" /></div>
          </div>        
        </form>
      </div>
    </div>
</div>
